:root {
  font-family: 'Profilfont-Regular', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

:focus:not(.focus-visible) {
  outline: none;
}

@font-face {
  font-family: 'Profilfont-Bold';
  src: url('./assets/fonts/Profilfont-Bold-Web.woff2') format('woff2'),
       url('./assets/fonts/Profilfont-Bold-Web.woff') format('woff'),
}

@font-face {
  font-family: 'Profilfont-Regular';
  src: url('./assets/fonts/Profilfont-Regular-Web.woff2') format('woff2'),
       url('./assets/fonts/Profilfont-Regular-Web.woff') format('woff'),
}